{% extends "base.html" %}
{% load static %}
{% block content %}
<div>
    <img class="" src="{% static 'pic.jpg' %}" alt="code">
</div>
<div class="mt-5">
  <p>  At Burger Baba, we believe in the power of good food to bring people together. Our journey began with a simple yet profound idea – to create a space where culinary excellence meets warm hospitality.

    Our Story
    
    Established in 2022, Burger Baba has been a culinary haven for food enthusiasts who appreciate the artistry of flavors. Our story is one of passion, dedication, and a commitment to delivering an unforgettable dining experience. From the kitchen to your table, each dish is crafted with care, using the finest ingredients sourced locally and globally.
    
    The Culinary Team
    
    Meet the talented minds behind our delectable creations. Our chefs, led by Executive Chef Asibul alam, bring innovation and expertise to every plate. Their culinary finesse and dedication to quality ensure that each dish is a celebration of taste and aesthetics.
    
    Farm-to-Table Philosophy
    
    We take pride in supporting local farmers and producers. Our commitment to a sustainable and ethical food supply chain means that you can savor every bite with the knowledge that it comes from the heart of our community.
    
    Warm Hospitality
    
    At Burger Baba, we don't just serve meals; we create memories. Our staff is dedicated to providing you with a warm and welcoming atmosphere, where every visit feels like coming home. Whether you're celebrating a special occasion or simply enjoying a casual meal, our team is here to make your experience extraordinary.
    
    Community Engagement
    
    We believe in giving back to the community that has embraced us. [Restaurant Name] actively participates in local events, collaborates with neighboring businesses, and supports charitable initiatives. Because we believe that a thriving community is the secret ingredient to our success.
    
    Thank you for being a part of the [Restaurant Name] family. We look forward to sharing more delicious moments with you.
    
    Sincerely,
    
    The Burger Baba Team</p>
</div>

{% endblock content %}