
{% extends "base.html" %}
{% load static %}
{% block  content%}
<div class="col-6">
    <img class="img-fluid " src="{% static 'logo_2.jpg' %}" alt="django">
</div>
<div class="col-6">
    <h6
    >Python is often used to develop the back end of a website or application—the parts that a user doesn’t see. Python’s role in web development can include sending data to and from servers, processing data and communicating with databases, URL routing, and ensuring security. Python offers several frameworks for web development. Commonly used ones include Django and Flask.
    
        Some web development jobs that use Python include back-end engineers, full stack engineers, Python developers, software engineers, and DevOps engineers.</h6>
</div>
{% endblock  %}